<%- include('../header.ejs') %>

<h1 class="text-center bg-info mt-5">Display Course</h1>
<div class="container mt-5"> 
  <!-- <% if(msg.length > 0){ %>
    <div class="alert alert-success">
        <%= msg %>
    </div>
<% } %> -->
<table class="table table-bordered text-center">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Course</th>
    <th>Status</th>
    <th>Comment</th>
    <th>Action</th>
  </tr>
<% d.forEach((item,i)=>{ %>
    <tr>
        <td><%++i%>.</td>
        <td><%=item.name%></td>
        <td><%=item.email%></td>
        <td><%=item.course%></td>
        <td><%=item.status%></td>
        <td><%=item.comment%></td>
        <td>
          <a href="/courseView/<%= item._id%>" class="btn btn-primary">view</a>
          <a href="/courseEdit/<%= item._id%>" class="btn btn-info">edit</a>
          <!-- <a href="/courseDelete/<%= item._id%>" class="btn btn-danger">delete</a> -->
        </td>
      </tr>
    <% }) %>
 
</table>
</div>
<%- include('../footer.ejs') %>
