<%- include('../header.ejs') %>
<br><br><br>
<br><br>

<div class="container mt-5">

<table class="table table-bordered text-center">
    <tr>
        <th colspan="5" class="text-center  mt-5 text-shadow">Course View</th>
    </tr>
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>email</th>
    <th>course</th>
 
  </tr>

    <tr>
        <td><%=d._id%></td>
        <td><%=d.name%></td>
        <td><%=d.email%></td>
        <td><%=d.course%></td>
        
      </tr>
   
 
</table>
</div>

<%- include('../footer.ejs') %>
